files:

 /home/ec2-user/install-splunk.sh:

  group: ec2-user

  mode: "000755"

  owner: ec2-user

  content: |

   #!/usr/bin/env bash
   if pgrep splunk >/dev/null 2>&1
   then
   echo spluk > test
   else
   wget https://s3-ap-southeast-1.amazonaws.com/wynk-splunk-forwarder/splunkforwarder-6.2.2-255606-linux-2.6-x86_64.rpm

   wget https://s3-ap-southeast-1.amazonaws.com/wynk-splunk-forwarder/splunkclouduf.spl

   su --session-command="/bin/rpm -i splunkforwarder-6.2.2-255606-linux-2.6-x86_64.rpm"

   su --session-command="ln -s /opt/splunkforwarder/bin/splunk /usr/bin/splunk"

   su --session-command="/opt/splunkforwarder/bin/splunk start --answer-yes--no-prompt --accept-license"

   su --session-command="/opt/splunkforwarder/bin/splunk install app splunkclouduf.spl -auth admin:changeme"

   su --session-command="/opt/splunkforwarder/bin/splunk login -auth admin:changeme"

   su --session-command="/opt/splunkforwarder/bin/splunk add monitor  /usr/share/tomcat8/logs/catalina.out -hostname WynkVideoAPIs -sourcetype logback"

   su --session-command="/opt/splunkforwarder/bin/splunk restart"

   fi

commands:

 execute-install-splunk-script:

  command: ./install-splunk.sh

  cwd: /home/ec2-user

